<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>com.ln.default</string>
	<key>version</key>
	<integer>1</integer>
	<key>group_name_cn</key>
	<string>默认</string>
	<key>display_only</key>
	<integer>0</integer>
	<key>group_type</key>
	<integer>0</integer>
	<key>emoticons</key>
	<array>
		<dict>
			<key>code</key>
			<string>[css_0]</string>
			<key>chs</key>
			<string>[捂脸]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>ee_0.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>code</key>
			<string>[css_1]</string>
			<key>chs</key>
			<string>[棒]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>ee_1.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>code</key>
			<string>[css_2]</string>
			<key>chs</key>
			<string>[愤怒]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>ee_2.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>code</key>
			<string>[css_3]</string>
			<key>chs</key>
			<string>[爱]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>ee_3.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>code</key>
			<string>[css_4]</string>
			<key>chs</key>
			<string>[羡慕]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>ee_4.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>code</key>
			<string>[css_5]</string>
			<key>chs</key>
			<string>[流泪]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>ee_5.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>code</key>
			<string>[css_6]</string>
			<key>chs</key>
			<string>[大怒]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>ee_6.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>code</key>
			<string>[css_7]</string>
			<key>chs</key>
			<string>[坏笑]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>ee_7.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>code</key>
			<string>[css_8]</string>
			<key>chs</key>
			<string>[亲亲]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>ee_8.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>code</key>
			<string>[css_9]</string>
			<key>chs</key>
			<string>[开心]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>ee_9.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>code</key>
			<string>[css_10]</string>
			<key>chs</key>
			<string>[微笑]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>ee_10.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>code</key>
			<string>[css_11]</string>
			<key>chs</key>
			<string>[无语]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>ee_11.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>code</key>
			<string>[css_12]</string>
			<key>chs</key>
			<string>[酷]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>ee_12.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>code</key>
			<string>[css_13]</string>
			<key>chs</key>
			<string>[惊讶]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>ee_13.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>code</key>
			<string>[css_14]</string>
			<key>chs</key>
			<string>[瞪]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>ee_14.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
		<dict>
			<key>code</key>
			<string>[css_15]</string>
			<key>chs</key>
			<string>[无眼]</string>
			<key>gif</key>
			<string></string>
			<key>png</key>
			<string>ee_15.png</string>
			<key>type</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
